node_modules
**/node_modules
dist
**/dist
.next
**/.next
out
**/out
apps/mobile/android/.gradle
apps/mobile/android/app/build
apps/mobile/android/app/src/main/assets
.turbo
**/.turbo
*.tsbuildinfo
**/*.tsbuildinfo
.lighthouseci
playwright-report
test-results
coverage
.git
.agents
