{
  admin off
  email {$ACME_EMAIL}
}

{$DEMO_DOMAIN} {
  encode zstd gzip
  reverse_proxy web:8080

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "strict-origin-when-cross-origin"
    -Server
  }
}

media.{$DEMO_DOMAIN} {
  reverse_proxy minio:9000

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "strict-origin-when-cross-origin"
    -Server
  }
}

grafana.{$DEMO_DOMAIN} {
  reverse_proxy grafana:3000

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "strict-origin-when-cross-origin"
    -Server
  }
}
